/*Reglas CSS*/
/* 1er Regla: Tipo etiqueta */

/*Regla {
        propiedad: valor;
    }*/
body,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #ebecdf;
}

/*Tipo ID*/
#encabezado {
    /*bgc*/
    background-color: #93485E;
    padding: 10px;
    color: #ffffff;

}

#login-form{
    width: 400px;
    margin: 0 auto;
    padding: 15px;
}

#profile-form {
    width: 400px;
    margin: 0 auto;
    padding: 15px;
}

#profile-form * {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.form{

    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
}

#login-form .input {
    width: 98%;
    font-size: 1em;
}

#login-form .control{
    margin-bottom: 20px;
}

#login-form .control label{
    font-size: 1em;
}

#login-form button{
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    margin: 10px 0;
}

.control input{
    padding: 3px;
    border: 1px solid lightgray;
}
/* Tipo Clase */
.negrita {
    font-weight: bold;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.error {
    color: red;
    background-color: #ffcccc;
    border: 1px solid #ff8080;
    border-radius: 3px;
    padding: 5px;
}

.oculto {
    display: none;
}